<% if current_user %>
  <article>
    <h3>Add Review</h3>

    <%= form_for([@product, @product.reviews.build]) do |f| %>
      <p>
        <%= f.label :description %>
        <%= f.text_area(:description, {:class => 'form-control' }) %> 
      </p>
      <p>
        <%= f.label :rating %>
        <%= f.select(:rating, options_for_select(1..5), {prompt: 'Rating'}, {:class => 'form-control' }) %>
      </p>
        <%= f.hidden_field :user_id, :value => current_user.id %>
      <p>
        <%= f.submit({:class => 'btn btn-default'})%>
      </p>
    <% end %>
  </article>
<% end %>
